// Loading overlay that appears when routing.

.LoadingOverlay {
  cursor: wait;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $Layer-LoadingIndicator;
  background: $Color-White--translucent;
}
